.addForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    &__item {
        align-items: stretch;
    }
    & .collapseable {
        display: flex;
        flex-direction: column;
    }
}
.addForm > label {
    padding-top: 10px;
}
