@import 'colors-scheme.scss';

.filters-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3em;
    align-items: baseline;
    &>i {
        cursor: pointer;
    }

    &-title {
        color: black;
        margin: 0 6px;
        width: 110px;
        cursor: pointer;
    }
    &-item {
        color: green;
        margin: 2px;
        padding: 1px;
        cursor: pointer;
        font-size: smaller;
        text-decoration: underline;
    }
    &-selected {
        color: $vermillion;
        border: solid 2px $vermillion;
        border-radius: 5px;
    }
}
