.filters-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.3em;
  align-items: baseline; }
  .filters-section-title {
    color: black;
    margin: 0 6px;
    width: 110px; }
  .filters-section-item {
    color: green;
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    font-size: smaller;
    text-decoration: underline; }
  .filters-section-selected {
    color: #fc4a1a;
    border: solid 2px #fc4a1a;
    border-radius: 5px; }
