.viewcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden; }
  .viewcontainer--tools {
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; }

.slider {
  width: initial; }
