.viewcontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    &--tools {
        display: flex;
        align-items: center;
        max-width: 100%;
    }
}
.slider {
    width: initial;
}