.login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 1.5em;
  color: white; }
  .login_name {
    color: #fc4a1a;
    margin: 5px 10px; }
  .login input {
    width: 80px; }
  .login label {
    margin: 0 10px; }

.loginPanel {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline; }
