.textinput {
  border: 1 solid;
  border-radius: 1;
  min-width: 30px;
  min-height: 10px;
  padding: 3px; }
  .textinput--multiline {
    resize: vertical; }
  .textinput--negative {
    border-color: red;
    outline: red auto 1px; }
  .textinput--nowrap {
    white-space: nowrap;
    overflow: auto; }
  .textinput:disabled {
    background-color: gray;
    opacity: .5; }

.grid {
  display: flex;
  flex-direction: column;
  background-color: #dfdce3; }
  .grid-header {
    display: flex;
    flex-direction: row;
    background-color: #f7b733;
    border-bottom: black 2px solid; }
    .grid-header-item {
      color: black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .grid-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em; }
    .grid-row > .date {
      font-size: .8em; }
    .grid-row > .category {
      font-weight: bolder; }
    .grid-row > .sum {
      font-weight: bolder; }
    .grid-row-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
