@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: normal;
	src: url('fonts/iosevka-regular.woff2') format('woff2'), url('fonts/iosevka-regular.woff') format('woff'), url('fonts/iosevka-regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Iosevka Web', Courier, monospace !important;
}